<div class="artist-show">


  <h1><%= @artist.name %></h1>

  <div class="artist-sect">

  <% if @artist.image.present? %>
  <%= image_tag @artist.image, :alt => @artist.name, :class => 'artist_feature' %>

  <br />


  <div class="artist-info">
    <p><%= simple_format @artist.info %></p>
  </div>
</div><!--end of artist sect div-->


  <div class="prev_albums">
      <% @artist.albums.each do |album| %>
      <%= link_to image_tag(album.image, :class => 'album_thumbnail'), album  %>
      <% end %>
  </div><!--end of previous albums div-->
  <% end %>

  <div class="artist-info">
      <%= link_to 'Add to Favourite Artists', user_favourite_artists_add_path(@current_user, :artist_id => @artist.id), :method => 'post' %> |
    <%= link_to 'edit artist', edit_artist_path(@artist) %>

    <!-- i think the below will make it only visible to admins? -->
    <% if @current_user.admin? %>
    <%= link_to 'delete artist', artist_path(@artist), :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
    <% end %>
  </div>
</div> <!--end of artist show div-->
