
<div class="form-group">

  <%= form_for @album do |f| %>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, :class => 'form-control', :id => 'exampleFormControlInput1' %>
</div>

<div class="form-group">

  <%= f.label :date %>
  <%= f.date_field :date, :class => 'form-control', :id => 'exampleFormControlInput1' %>
</div>

<div class="form-group">

  <%= f.label :tracks%>
  <%= f.text_area :tracks, :class => "form-control", :id => "exampleFormControlTextarea1"  %>
</div>

<div class="form-group">

  <%= f.label :artist_id %>
  <%= f.select :artist_id, Artist.pluck(:name, :id), :include_blank => true, :class => "form-control", :id => "exampleFormControlSelect1" %>

</div>

<div class="form-group">
  <%= f.label :image, :class =>"label-control" %><br />
  <%= f.file_field :image %>
</div>

  <%= f.submit %>
  <% end %>
</div>
