<div class="album-show">

  <h1><%= @album.title %></h1>

  <div class="info-album-show">

    <ul>
      <% if @album.date.present? %>
          <li>Realeased: <%= @album.date.strftime '%e %b %Y' %></li>
      <% end %>


      <% if @album.artist.present? %>
        <li>Artist: <%= link_to @album.artist.name, @album.artist %></li>
      <% end %>

    </ul>

    <ul>
        <% @album.pressings.each do |pressing| %>
            <li>Pressing: <%= link_to "See pressings", album_pressings_path(@album) %></li>
            <li>Color: <%= pressing.color %></li>
            <li>Pressed in: <%= pressing.year %></li>
          <% if pressing.limited == true %>
            <li>Limited</li>
          <% end %>
          <% if pressing.quantity_pressed.present? %>
            <li>Quantity Pressed: <%= pressing.quantity_pressed %></li>
          <% end %>
          <% if pressing.weight.present? %>
            <li>Weight: <%= pressing.weight %></li>
          <% end %>
        <% end %>

    </ul>

  </div><!--bottom artist show div-->



  <div class="controls">
    <%= link_to 'Add to My Collection', user_favourite_albums_add_path(@current_user, :album_id => @album.id), :method => 'post' %> |


    <%= link_to 'edit album', edit_album_path(@album) %>


    <% if @current_user.admin? %>
      <%= link_to 'delete album', album_path(@album), :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
    <% end %>
  </div><!--end of controlls div-->


  <div class="card">
    <div class="content">

      <div class="front">

        <%= image_tag @album.image, :alt => @album.title, :class => 'album_feature' %>

      </div><!--end of front div-->

      <div class="back">
        <p>Track List: <%= simple_format @album.tracks %>  </p>
      </div><!--end of back div-->

    </div> <!--end of content div -->
  </div><!--end of card div-->

</div><!--end of whole page div-->
