<!DOCTYPE html>
<html>
  <head>
    <title>Audiophiles Annonymous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="jquery.js"></script>
    <script src="vivus.js"></script>

  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>

      <% if @current_user.present? %>
        <%= link_to 'My Dash', users_profile_path %>
        <%= link_to 'Admin Area', users_path if @current_user.admin? %>
      <%= link_to "Sign Out #{@current_user.username} ", login_path, :method => 'delete' %>


      <%= link_to 'Add New Artist', new_artist_path %>
      <%= link_to 'Add New Album', new_album_path %>
      <%= link_to 'All Artists', artists_path %>
      <%= link_to 'All Tunes', albums_path %>
      <!-- dont know if i like it saying 'sign out elli_jayne' at top, if i do keep add a name column function and make it say the persons name? -->

        <% else %>
        <%= link_to 'Login', login_path %>
        <%= link_to 'Sign Up', new_user_path %>

      <% end %>

    </nav>

    <%= yield %>
  </body>
</html>
