<!DOCTYPE html>
<html>
  <head>
    <title>Audiophiles Annonymous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Home', root_path %>

      <%= link_to 'Admin Area', users_path if @current_user.admin? %>

      <% if @current_user.present? %>
      <%= link_to "Sign Out #{@current_user.username} ", login_path, :method => 'delete' %>
      <!-- dont know if i like it saying 'sign out elli_jayne' at top, if i do keep add a name column function and make it say the persons name? -->
        <%# #TODO then want link_to artists and albums and pressing info to show AFTER login to stop people from accessing it without having signed up. kind of like the admin stuff that will show for an admin account %>

      <% else %>
      <%= link_to 'Login', login_path %>
      <%= link_to 'Sign Up', new_user_path %>

      <% end %>

    </nav>
    <%= yield %>
  </body>
</html>
