<!DOCTYPE html>
<html>
  <head>
    <title>Audiophiles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="jquery.js"></script>
    <!-- <script src="vivus.js"></script> -->

  </head>

  <body class="<%= params[:controller] %>-<%= params[:action] %> <%= "logged-in" if @current_user.present? %>">

    <nav>
        <img class="mini-logo" src="/assets/audiophilesgreen.svg" />
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to 'Home', root_path, :class=> "nav-link" %>
      </li>

      <% if @current_user.present? %>
        <%= link_to 'My Dash', users_profile_path, :class => "nav-link" %>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add a freshy</a>
        <div class="dropdown-menu">
          <%= link_to 'Add New Artist', new_artist_path, :class => "dropdown-item" %>
          <%= link_to 'Add New Album', new_album_path, :class => "dropdown-item" %>
          <div class="dropdown-divider"></div>
            <%= link_to 'All Artists', artists_path, :class => "dropdown-item" %>
            <%= link_to 'All Tunes', albums_path, :class => "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item">
          <%= link_to "Sign Out #{@current_user.username} ", login_path, :method => 'delete', :class => "nav-link" %>
      </li>

        <%= link_to 'Admin Area', users_path if @current_user.admin? %>

      <% else %>
      <%= link_to 'Login', login_path, :class => "nav-link" %>
      <%= link_to 'Sign Up', new_user_path, :class => "nav-link" %>
    <% end %>
  </ul>
        <!-- <div class="search">
          Search Audiophiles:
          <input type=”text” name=”query” id=”query” placeholder="I want to find…">

          <button type=”submit” name=”commit” value=“Search”>Search</button>
        </div> -->

    </nav>

    <%= yield %>
  </body>
</html>
